{{#*inline "page"}}
  
  <div>
  {{#each Inventories}}
    <div class="card" style="width: 30vw; position: relative; padding: 0.2em;">
      <span style="position: absolute; right: 0.2em; top: 0.4em; font-size: 80%; color: #999;">{{timestamp}}</span>
      <h3 style="display: inline;">{{name}}</h3>
      <div>{{description}}</div>
      {{#if products}}
      <hr/>
      <table class="nostyle" style="width: 100%; text-align:center;">
        {{#each products}}
        <tr>
          <td>{{product_name}}</td>
          <td>
            <div class="content-box">
              <div class="content-bar" style="width: calc({{amount_stored}}/{{maximum}}*100%)"></div>
              <div class="content-label">{{amount_stored}}/{{amount_to_store}}</div>
            </div>
          </td>
        </tr>
        {{/each}}
      </table>
      {{/if}}

    </div>
  {{/each}}
  </div>

{{/inline}}
{{~> base~}}