{{#*inline "page"}}

      {{#*inline "usertype"}}
        <select name="usertype" style="width: 8em;">
        {{#if Usertype.Admin}}
                <option>Admin</option>
                <option>User</option>
        {{else}}
            {{#if Usertype.User}}
                <option>User</option>
                <option>Admin</option>
            {{/if}}
        {{/if}}
        
        
        </select>
    {{/inline}} 

 <table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Type</td>
            <td>Email</td>
            <td>Card-Hash</td>
            <td>Current Project</td>
            <td></td>
        </tr>
    </thead>
    <tbody id="rows">
    <tr id="new-user">
            <td></td>
            <form method="POST" action="/admin_create_user">
            <td>
                {{~> usertype~}}
            </td>
            <td>
                <input type="text" name="email" placeholder="user email" style="width: 8em;">
            </td>
            <td>
                <input type="text" name="card_hash" placeholder="card hash" style="width: 8em;">
            </td>
            <td>
                <input type="text" name="current_project" placeholder="current project" value="default project" style="width: 8em;">
            </td>
            <td style="text-align: right; padding-right: 0.3em;">
                <button style="font-weight: bold; margin-right: 0; margin-left: auto;">+</button>
            </td>
        </form>
        </tr>
        {{#each users}}
        <tr>
            <form method="POST" action="/admin_update_user">
            <td>{{id}}<input type="hidden" name="userid" value="{{id}}"></td>
            <td>
                {{~> usertype~}}
            </td>
            <td>
                <input type="text" name="email" value="{{email}}" style="width: 8em;">
            </td>
            <td>
                <input type="text" name="card_hash" placeholder="card hash" value="{{card_hash}}" style="width: 8em;">
            </td>
             <td>
                <input type="text" name="current_project" placeholder="current project" value="{{current_project}}" style="width: 8em;">
            </td>
             <td style="text-align: right; padding-right: 0.3em;">
                <button style="font-weight: bold; margin-right: 0; margin-left: auto;">✔</button>
            </td>
            </form>
            <td>
                <form method="POST" action="/admin_delete_user">
                    <input type="hidden" name="userid" value="{{id}}">
                    <button class="bg-red" style="font-weight: bold; margin-right: 0; margin-left: auto;">✘</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/inline}}
{{~> base~}}